*{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

body{padding: 0;
    margin: 0;}

    /* ------------ Header ------------*/


.body{display: grid;
    height: 100vh;
    grid-template-rows: 180px 1fr;
    grid-template-columns: 225px 8fr;
grid-template-areas: 

'sidebar header'
'sidebar Maincontent';}

.header{grid-area: header;
display: grid;
align-items: center;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr;
margin-left: 10px;
}

.headerTop{display: grid;
grid-template-columns: 40px 3fr 1fr;
align-items: center;}

.headerBottom{display: grid;
grid-template-columns: min-content 2.5fr 1fr;
align-items: center;}

.bell{height: 25px;
width: auto;}

.profilePicSmall{height: 40px;
border-radius: 200px;}

.name{font-weight: bold;
font-size: 17px;}

.rightSideHeaderTop{display: flex;
    align-items: center;
gap: 40px;}

label{display: grid;
justify-content: flex-end;
margin-right: 13px;}

#search{width:70%;
    height: 30%;
    padding: 10px;
grid-row-start: 1;
grid-column-start: 2;
border-radius: 50px;
border: lightblue 2px solid;
background-color:lightgray;
padding-left: 20px;
font-size: 15px;}

#search:hover{border: 3px solid lightblue ;}


.searchIcon{height: 25px;
}

.nameGreeting{margin-left: 20px;
width: fit-content;
display: grid;
row-gap: 4px;}

.nameLarge{font-size: 22px;
font-weight: bold;}

.searchIcon:hover{height: 26px;
}

.profilePicLarge{height:65px;
    margin-left: 30px;
border-radius: 200px;}


button{padding: 10px 30px;
border-radius: 50px;
border: none;
color:white;
background-color: darkblue;
font-weight: bold;
font-size: 15px;}

button:hover{cursor:pointer;
color:lightgrey}

.buttons{display: flex;
gap: 20px;}


/*-------------------Sidebar--------------*/


.sidebar{grid-area: sidebar;
grid-row: 1/3;
background-color: skyblue;
color: white;
font-size: 1.5rem;
font-weight: bold;
padding:1.5rem ;
display: grid;
grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sidebar img{
margin-right: 10px}

.sidebar div{display: flex;
align-items: center;}

.community{margin-bottom: 45px;
}

.DashboardTitle{font-size: 2rem;}


/*---------------Main Content------------*/

.mainContent{grid-area: Maincontent;
    background-color: lightgrey;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    'header header'
    'content announcements'
    'content trending';
    padding: 2rem;}
    
.AnnouncementsHeader{
margin-left: 3rem;}

.AnnouncementsHeader , .ProjectsHeader{margin-top: 2vh;}

.projects{display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows:200px;
grid-row-start: 2;}

.project{background-color: white;
padding: 1rem;
word-break:break-all;
border-left: 8px solid orange;
display: grid;
grid-template-rows: 50px fit-content 50px;
border-radius: 10px;}

.projectText{margin-top: 0;}

img{width: auto;
height: 20px}

#fork{height: 15px;
margin-top: 2px;}

.rightSide{display: grid;
grid-template-rows: min-content min-content;}

.icons
{display: flex;
justify-content: flex-end;
gap: 10px;}

img:hover{cursor: pointer;}

.ProjectsHeader, .AnnouncementsHeader{font-size: 1.2rem;
padding-bottom: 1.5vmin;
font-weight: bold;}

.trendingContent, .announcements{margin-left: 3rem;
border-radius:10px;}

.trendingHeader{
font-size: 1.2rem;
margin-bottom: 7px;
font-weight: bold;
margin-left: 3rem;}

.trending{font-size: 0.8rem;}

.announcementText{font-size: 0.75rem;}

.announcementTitle{font-size: 0.85rem;}

.announcements{background-color: white;
    display: grid;
    margin-left: 3rem;
    justify-content: center;
padding: 1rem;}


.trendingContent{background-color: white;
height: fit-content;
padding: 0.4rem;}

.trend{display: grid;
    gap: 10px;
grid-template-columns: 1fr 3fr;
padding: 0.5rem;
}

.trendPic{height: auto;
width: 30px;
margin-left: 0.5rem;
border-radius: 50px;}

.trending{margin-top: 1rem;}

.trendText{border-bottom: 1px solid grey;
width: fit-content;}
